
:root {
    --yellow: #F0BD67;
    --pale-yellow: #F8D69E;
    --darkgrey: #383338;
    --lightergrey: #938893; 
    --bg: #F2F2F2;
    --nav-bar: #FFFFFF;
    --side-margin: 6.5em;
    --mobile-side-margin: 3.5em;
    --lightpurple: #938893;
    --shadow: 0 10px 30px rgba(18,17,17,.25);
}
body{
    margin: 0; 
    padding: 0;
    font-family: 'Montserrat', san-serif;
    background: var(--bg);
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
}
/*Header styles*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.logo{
    display: flex;
    text-decoration: none;
    margin-left: var(--side-margin) ;
    justify-content: center;
    align-items: center;  
}
.logo img {
    width: 100%;
    min-width: 120px;
}
.navbar {
    height: 70px;
    width: 100%;
    background: var( --nav-bar);
    color: var(--darkgrey);
    display: flex;
    box-shadow: var(--shadow);
}
.navbar-nav {
    flex: 0.3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: var(--side-margin) ;
}
.nav-item {
    padding: auto;
    margin: 0 1.5em;
}
li a{
    text-decoration: none;
    color: var(--darkgrey);
}
.selected {
    font-weight: bold;
    color: var(--yellow);
}

/*Footer styles*/
footer{
    display: flex;
    justify-content: space-evenly;
    background: var(--darkgrey);
    color: var(--lightergrey);
    font-size: 0.75em;
}
footer a {
    color: var(--yellow);
}



/*Responsive Design*/

@media screen and (max-width: 768px){
    /*Header responsive*/
    .logo {
        margin: 0 calc(var(--mobile-side-margin) - 20px);
    }
    .line {
        width: 30px;
        height: 3px;
        background: var(--darkgrey);
        margin: 5px;
    } 
    .navbar {
        position: sticky;
        top: 0;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 30%;
        transform: translate(-50%, -5%);
        z-index: 2;
        transition: all 1s ease;
    }
    .navbar-nav {
        position: fixed;
        background: #F0BD67;
        height: 100%;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 100% -10%) ;
        -webkit-clip-path: circle(100px at 100% -20%);
        transition: all 1s ease-out;
    }
    .navbar-nav.open {
        clip-path: circle(1400px at 100% -10%);
        -webkit-clip-path: circle(1400px at 100% -10%);
    }
    .hamburger.twist{
        transform: rotate(90deg);
    }
    .selected {
        color: var(--bg);
        font-weight: bolder;
    }
    .selected::before {
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 10px 0 10px 15px;
        border-color: transparent  transparent transparent var(--bg);  
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
    .nav-item {
        font-size: 1.5em;
    }

} 