/*Header styles*/ 

header {
    margin: 40px calc(var(--side-margin) + 40px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titles {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.titles h1{
    text-align: left;
    font-size: 4rem;
    margin: 5px 0;
}

img {
    width: 100%;
    min-width: 275px;
    max-width: 365px;
}

.explore {
    background: var(--yellow);
    border-radius: 30px;
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    box-shadow: var(--shadow);
    cursor: pointer;
    text-decoration: none;
    color: var(--darkgrey);
    font-weight: bold;
    transition: all 0.3s ease-out;
}

.explore:hover {
    background: var(--lightpurple);
    color: var(--bg);
}

/*Main Styles*/
main {
    background: var(--nav-bar);
    padding: 40px;
    margin: 40px calc(var(--side-margin) - 40px);
    border-radius: 10px;
}
main h2 {
    font-size: 3rem;
    margin: 5px 0;
}
main h3{
    font-size: 1.5rem;
    margin: 5px 0;
    color: var(--lightpurple);
}

main p {
    font-size: 1rem;
}


/*RESPONSIVE DESIGN*/
@media screen and (max-width: 768px){
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: var(--mobile-side-margin);
    } 
    .titles {
        align-items: center;
    }
    .titles h1{
        font-size: 3rem;
    } 
    img {
        margin: 0;
        min-width: 240px;
    }

    /*Main responsive*/
    main {
        background: var(--nav-bar);
        padding: 20px;
        margin: 70px calc(var(--mobile-side-margin) - 20px);
    }
    main h2 {
        font-size: 2rem;
    }
    main h3 {
        font-size: 1.5rem;
        font-weight: normal;
    }
}
