h1 {
    font-size: 4rem;
}
header {
    display: flex;
    margin: 70px var(--side-margin) 30px var(--side-margin) ;
    justify-content: space-evenly;
}
main {
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: var(--nav-bar);
    margin: 20px var(--side-margin);
    padding: 20px;
    border-radius: 15px;
}
@keyframes fadeIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
  }
.card {
    flex-basis: 25%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid var(--lightpurple);
    background: var(--darkgrey);
    box-shadow: var(--shadow);
    color: var(--nav-bar);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: 1s ease-out 0s 1 fadeIn;
}
.card img {
    width: 50px;
}

.card a {
    background: var(--yellow);
    border-radius: 30px;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    box-shadow: var(--shadow);
    cursor: pointer;
    text-decoration: none;
    color: var(--darkgrey);
    font-weight: bold;
    transition: all 0.3s ease-out;
}

.card a:hover {
    background: var(--lightpurple);
    color: var(--bg);
}

.card .unavailable{
    background: rgb(236, 89, 89);
    cursor: not-allowed;
}

@media screen and (max-width: 768px){
    h1 {
        font-size: 2rem;
    }
    header {
        flex-direction: column;
        margin: 35px var(--mobile-side-margin) 15px var(--mobile-side-margin) ;
        justify-content: center;
        align-items: center;
    }
    main { 
        margin: 15px calc(var(--mobile-side-margin) - 20px);
        padding: 10px;
    }
    .card {
        flex-basis: 50%; 
        margin: 10px;
        padding: 10px;
    }  
    .card h4 {
        margin: 5px;
    }
}