/*https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
don't do anything for headr and footer but fill out the rest
*/
body {
	display: flex;
	flex-direction: column;
}
nav {
	display: inline-block;
	width: 100%;
	position: sticky;
	z-index: 4;
}
.navbar {
	z-index: 3;
	box-shadow: none;
}
.tools {
	align-self: flex-end;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 8px 0;
	background-color: var(--yellow);
	box-shadow: var(--shadow);
	z-index: 3;
}
#mySearch {
	position: relative;
	border: none;
	border-radius: 15px;
	padding-left: 15px;
	height: 30px;
	background-color: #fff;
	z-index: 2;
	margin: 0 5px;
	flex: 1;
	
}

.resultPanel {
	flex: 0.5;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.resultOutput{
	display: none;
}
.resultOutput.visible{
	margin-left: 20px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	min-width: 50px;
}
#numOfResults {
	padding: 0 5px;
	margin: 0;
	min-width: 30px;
}
#left, #right {
	height: 30px;
	width: 19px;
	background: '#383338';
	display: none;
	
}

#left :hover {
	cursor: pointer;
	background: #383338;
	border-radius: 5px 0 0 5px;
	transition: all .2s ease-in-out;
}
#right :hover{
	cursor: pointer;
	background: #383338;
	border-radius: 0 5px 5px 0;
	transition: all .2s ease-in-out;
}

#SearchButton {
	height: 10px;
	margin-left: 6px;
	border-radius: 15px;
	padding: 10px;
	background-color: var(--blue);
	color: var(--nav-bar);
	box-shadow: var(--shadow);
	font-size: 1rem;
	cursor: pointer;
	transition: background .3s ease-in-out, color .3s ease-in-out;
	display: flex;
	align-items: center;
}
#SearchButton:hover {
	background: var(--pale-yellow);
}
.searchIcon {
	margin: 3px;
}

main {
	flex: 1;
	display: flex;
	height: 70%;
	padding: 5px;
	margin-top: 5px;
}

#myDiagramDiv {
	flex: 1;
}

.buttonsPanel{
	justify-self: start;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 10px;
	bottom: 75px;
	z-index: 3;
	padding: 6px;
	background: var(--yellow);
	width: 50px;
	min-width: 200px;
	box-shadow: var(--shadow);
	border-radius: 5px;
}
#toolTitle {
	color: var(--darkergrey);
	font-size: 1rem;
	margin: 8px 0;
	font-weight: 400;
}
#toFit {
	width: 80px;
	border-radius: 15px;
	padding: 5px;
	border: 3px solid #fff;
	background: var(--lightergrey) ;
	color: #fff;
	font-size: 0.75rem;
	cursor: pointer;
	box-shadow: var(--shadow);
}
#toFit:hover {
	transition: background .4s ease-in, color .4s ease-out;
	background: var(--pale-yellow);
	color: var(--darkergrey);
}

footer {
	width: 100%;
}

@media screen and (max-width: 768px){
	#mySearch {
		font-size: 0.75rem;
	}
	#numOfResults {
		font-size: 12px;
	}
	#SearchButton {
		font-size: 12px;
	}
	footer {
		font-size: 0.5rem;
	}
}

.lds-ellipsis {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 160px;
	height: 160px;
  }
  .lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: var(--yellow);
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
	0% {
	  transform: scale(0);
	}
	100% {
	  transform: scale(1);
	}
  }
  @keyframes lds-ellipsis3 {
	0% {
	  transform: scale(1);
	}
	100% {
	  transform: scale(0);
	}
  }
  @keyframes lds-ellipsis2 {
	0% {
	  transform: translate(0, 0);
	}
	100% {
	  transform: translate(24px, 0);
	}
  }
  

