*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	width: 100vw;
} 
header{
	padding: 5px 0;
	background: var(--yellow);
	height: 50px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.search input{
	border: none;
	border-radius: 15px;
	padding-left: 15px;
	background-color: #FFF;
	height: 30px;
	width: 80%;
	min-width: 300px;
	float: left;
}

.buttons a {
	min-width: 87px;
	border-radius: 15px;
	background-color: var(--darkgrey);
	padding: 8px;
	font-size: 13px;
	transition: 0.3s;
	color: #fff;
	font-weight: bold;
	margin: 5px;
}
.buttons a:hover {
	cursor: pointer;
	background-color: var(--lightergrey);
}

#myDiagramDiv {
	flex: 1;
	width: 100vw;
	height: 60vh;
}

