/*https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
don't do anything for headr and footer but fill out the rest
*/
body {
	display: flex;
	flex-direction: column;
}


main {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 70%;
	padding: 5px;
	margin-top: 5px;
	position: relative;
}
#myOverviewDiv {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 10px;
    left: 10px;
    background-color: #f2f2f2;
    z-index: 3; /*make sure its in front*/
    border: solid 1px #7986cb;
  }
#myDiagramDiv {
	flex: 1;
}

.buttonsPanel{
	position: absolute;
	right: 40px;
	z-index: 3;
	max-width: 150px;
}
#toolTitle {
	color: var(--darkergrey);
	font-size: 1rem;
	margin: 8px 0;
	font-weight: 400;
}
#toFit {
	border-radius: 15px;
	padding: 5px;
	background: var(--lightergrey) ;
	font-size: 0.75rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 34px;
}
#toFit:hover {
	box-shadow: var(--shadow);
	transition: background .4s ease-in, color .4s ease-out;
	background: var(--pale-yellow);
}
.tooltip {
	display: none;
}

#toFit:hover .tooltip {
	display: inline-block;
	transition: all 1s ease-in;
}

footer {
	width: 100%;
}

@media screen and (max-width: 768px){
	#toFit:hover .tooltip {
		display: none
	}
	#mySearch {
		font-size: 0.75rem;
	}
	#numOfResults {
		font-size: 12px;
	}
	#SearchButton {
		font-size: 12px;
	}
	footer {
		font-size: 0.5rem;
	}
}

.lds-ellipsis {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 160px;
	height: 160px;
  }
  .lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: var(--yellow);
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
	0% {
	  transform: scale(0);
	}
	100% {
	  transform: scale(1);
	}
  }
  @keyframes lds-ellipsis3 {
	0% {
	  transform: scale(1);
	}
	100% {
	  transform: scale(0);
	}
  }
  @keyframes lds-ellipsis2 {
	0% {
	  transform: translate(0, 0);
	}
	100% {
	  transform: translate(24px, 0);
	}
  }
  

